footer{
    margin-top: 100px;
    width: 100%;
border-top: 1px solid rgb(192, 190, 190);
   padding: 50px 10px;
   h6{
margin-bottom: 30px;
   }
   ul{
       margin-left: -30px;
       li{
           list-style: none;
           margin-bottom: -5px;
           color: rgb(122, 121, 121);
       }
   }
   p{
    color: rgb(122, 121, 121);
   }
   input,button{
       width: 100%;
       height: 50px;
       text-align: center;
       margin-top: 10px;
       border: 1px solid rgb(122, 121, 121);
       outline: none;
   }
   button{
       background-color: black;
       color: white;
       transition: 0.5s;
       &:hover{
      
           border: 1px solid #ff6a28;
        
           background-color: #ff6a28;
       }
   }
}